{%- comment -%} In: r, L, lp, lang, show_ticker. One table row. {%- endcomment -%}
{%- assign rtitle = r.title[lang] | default: r.title.en -%}
{%- assign rsum = r.summary[lang] | default: r.summary.en -%}
{%- assign size_in = r.size_bytes -%}{%- include merval/size.html -%}
{%- assign date_in = r.date -%}{%- include merval/date.html -%}
<tr class="rt-row" id="r-{{ r.id }}">
  <td class="rt-date" data-label="{{ L.table.date }}"><time datetime="{{ r.date }}">{{ date_out }}</time></td>
  {%- if show_ticker %}
  <td class="rt-ticker" data-label="{{ L.table.ticker }}"><a href="{{ lp | append: '/valuations/merval/' | append: r.ticker | downcase | append: '/' | relative_url }}">{{ r.ticker }}</a></td>
  {%- endif %}
  <td class="rt-type" data-label="{{ L.table.type }}"><span class="badge badge--type">{{ L.types[r.type] | default: r.type }}</span></td>
  <td class="rt-title" data-label="{{ L.table.title }}"><span class="rt-title__text">{{ rtitle }}</span>{% if rsum %}<span class="rt-title__sum">{{ rsum }}</span>{% endif %}</td>
  <td class="rt-format" data-label="{{ L.table.format }}"><svg class="icon icon--file" aria-hidden="true"><use href="#ico-{{ r.format }}"></use></svg><span>{{ r.format | upcase }}</span></td>
  <td class="num" data-label="{{ L.table.size }}">{{ size_out }}</td>
  <td class="rt-lang" data-label="{{ L.table.language }}">{{ L.langs[r.language] | default: r.language }}</td>
  <td class="rt-access" data-label="{{ L.table.access }}">{% include merval/access-button.html %}</td>
</tr>
